<div id="main" >
 <%= render 'layouts/nav' %>
</div> 

<section class="bg-[#00234c] text-white">
    <div class="container flex flex-col-reverse lg:flex-row justify-center p-6 mx-auto sm:py-12 lg:py-24 lg:justify-between">
        <div class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left">
            <h1 class="text-5xl font-bold leading-none sm:text-6xl">Embrace the
                <span class="text-[#0fc3ff]"><i>Real Future,</i> </span>Today
            </h1>
            <p class="mt-6 mb-8 text-lg sm:mb-12">A cutting-edge digital solution that empowers real estate investors with Secure, Accessible and Affordable investment opportunities globally.
                
            </p>

            <button class="mx-auto flex items-left justify-start rounded-full">
              <div class="relative z-10 flex w-full cursor-pointer items-center overflow-hidden rounded-full border border-[#00234c] p-[1.5px]">
                <div class="animate-rotate absolute inset-0 h-full w-full rounded-full bg-[conic-gradient(#0ea5e9_20deg,transparent_120deg)]"></div>
                <a href="#target-section">
                  <div class="relative z-20 flex w-full rounded-full bg-[#00234c] p-2">
                    <span class="relative z-50 flex items-center justify-center rounded-lg border border-[#00234c] bg-[#00234c] px-8 py-3 text-center text-sm text-white shadow-2xl transition duration-200 hover:bg-opacity-80">
                      Watch Intro 
                      
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left: 8px">
                      <path d="M7.99998 14.6667C11.6819 14.6667 14.6666 11.6819 14.6666 8.00001C14.6666 4.31811 11.6819 1.33334 7.99998 1.33334C4.31808 1.33334 1.33331 4.31811 1.33331 8.00001C1.33331 11.6819 4.31808 14.6667 7.99998 14.6667Z" stroke="#E9FAFF" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M6.33331 5.9769C6.33331 5.65871 6.33331 5.49961 6.39981 5.4108C6.45775 5.33339 6.54646 5.28497 6.6429 5.27808C6.75357 5.27017 6.8874 5.35621 7.15505 5.52827L10.3021 7.55138C10.5344 7.70069 10.6505 7.77534 10.6906 7.87027C10.7257 7.95321 10.7257 8.04681 10.6906 8.12975C10.6505 8.22468 10.5344 8.29933 10.3021 8.44864L7.15505 10.4718C6.8874 10.6438 6.75357 10.7298 6.6429 10.7219C6.54646 10.7151 6.45775 10.6666 6.39981 10.5892C6.33331 10.5004 6.33331 10.3413 6.33331 10.0231V5.9769Z" stroke="#E9FAFF" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>



                    </span>
                  </div>
                </a>
              </div>
            </button>

        </div>
        <div class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
            <%= image_tag "hero2.gif", class:"rounded-full object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128" %>
        </div>

    </div>
</section>

<section >
 <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20" style="font-family: 'Nunito', sans-serif;">
   <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">

     <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-[#04344d] sm:text-4xl md:mx-auto" style="font-family: 'Nunito', sans-serif;">
       <span class="relative inline-block">
        
         <%= image_tag "public/logo-faded.png", class:"absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block" %>
         <span class="relative" style="font-family: 'Nunito', sans-serif;">Highlights</span>
       </span>

     </h2>
     <p class="text-base text-[#04344d] md:text-lg" style="font-family: 'Nunito', sans-serif;">
       Features and Benefits
     </p>
   </div>
   <div class="grid gap-5 mb-8 md:grid-cols-2 lg:grid-cols-3">
     <div class="p-5 duration-300 transform bg-white border rounded-lg shadow-sm hover:-translate-y-2">
       <div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full bg-indigo-50">
         <svg width="70" height="69" viewBox="0 0 70 69" fill="none" xmlns="http://www.w3.org/2000/svg">
         <circle cx="35" cy="34.5" r="34.5" fill="#CEF3FF"/>
         <path d="M43.74 31.7583V27.5815C43.74 26.2843 43.1512 25.7599 41.6884 25.7599H37.9716C36.5088 25.7599 35.92 26.2843 35.92 27.5815V31.7491C35.92 33.0555 36.5088 33.5707 37.9716 33.5707H41.6884C43.1512 33.5799 43.74 33.0555 43.74 31.7583Z" stroke="#595959" stroke-width="1.38" stroke-linecap="round" stroke-linejoin="round"/>
         <path d="M43.74 42.1084V38.3916C43.74 36.9288 43.1512 36.34 41.6884 36.34H37.9716C36.5088 36.34 35.92 36.9288 35.92 38.3916V42.1084C35.92 43.5712 36.5088 44.16 37.9716 44.16H41.6884C43.1512 44.16 43.74 43.5712 43.74 42.1084Z" stroke="#595959" stroke-width="1.38" stroke-linecap="round" stroke-linejoin="round"/>
         <path d="M33.16 31.7583V27.5815C33.16 26.2843 32.5712 25.7599 31.1084 25.7599H27.3916C25.9288 25.7599 25.34 26.2843 25.34 27.5815V31.7491C25.34 33.0555 25.9288 33.5707 27.3916 33.5707H31.1084C32.5712 33.5799 33.16 33.0555 33.16 31.7583Z" stroke="#595959" stroke-width="1.38" stroke-linecap="round" stroke-linejoin="round"/>
         <path d="M33.16 42.1084V38.3916C33.16 36.9288 32.5712 36.34 31.1084 36.34H27.3916C25.9288 36.34 25.34 36.9288 25.34 38.3916V42.1084C25.34 43.5712 25.9288 44.16 27.3916 44.16H31.1084C32.5712 44.16 33.16 43.5712 33.16 42.1084Z" stroke="#595959" stroke-width="1.38" stroke-linecap="round" stroke-linejoin="round"/>
         </svg>

       </div>
       <h6 class="mb-2 font-semibold leading-5" style="font-family: 'Nunito', sans-serif;">Fractional ownership</h6>
       <p class="text-sm text-[#04344d]" style="font-family: 'Nunito', sans-serif;">
         Split large property investments into smaller, more affordable tokens, opening up real estate investment opportunities to a wider audience and promoting wealth democratization.
       </p>
     </div>
     <div class="p-5 duration-300 transform bg-white border rounded-lg shadow-sm hover:-translate-y-2">
       <div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full bg-indigo-50">
         <svg width="70" height="69" viewBox="0 0 70 69" fill="none" xmlns="http://www.w3.org/2000/svg">
         <circle cx="35" cy="34.5" r="34.5" fill="#CEF3FF"/>
         <path d="M31.52 25.84L26.13 30.04C25.23 30.74 24.5 32.23 24.5 33.36V40.77C24.5 43.09 26.39 44.99 28.71 44.99H40.29C42.61 44.99 44.5 43.09 44.5 40.78V33.5C44.5 32.29 43.69 30.74 42.7 30.05L36.52 25.72C35.12 24.74 32.87 24.79 31.52 25.84Z" stroke="#595959" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
         <path d="M39 34.5L34.8 38.7L33.2 36.3L30 39.5" stroke="#595959" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
         <path d="M37 34.5H39V36.5" stroke="#595959" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
         </svg>

       </div>
       <h6 class="mb-2 font-semibold leading-5" style="font-family: 'Nunito', sans-serif;">Liquidity boost</h6>
       <p class="text-sm text-[#04344d]" style="font-family: 'Nunito', sans-serif;">
         Selling property tokens can be faster than selling the whole thing, making it easier to get money when needed.
       </p>
     </div>
     <div class="p-5 duration-300 transform bg-white border rounded-lg shadow-sm hover:-translate-y-2">
       <div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full bg-indigo-50">
         <svg width="70" height="69" viewBox="0 0 70 69" fill="none" xmlns="http://www.w3.org/2000/svg">
         <circle cx="35" cy="34.5" r="34.5" fill="#CEF3FF"/>
         <path d="M28.59 36.28H31.68V43.48C31.68 45.16 32.59 45.5 33.7 44.24L41.27 35.64C42.2 34.59 41.81 33.72 40.4 33.72H37.31V26.52C37.31 24.84 36.4 24.5 35.29 25.76L27.72 34.36C26.8 35.42 27.19 36.28 28.59 36.28Z" stroke="#595959" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
         </svg>

       </div>
       <h6 class="mb-2 font-semibold leading-5" style="font-family: 'Nunito', sans-serif;">Efficiency</h6>
       <p class="text-sm text-[#04344d]" style="font-family: 'Nunito', sans-serif;">
         Streamlined property transactions minimize paperwork, offering swift and hassle-free processes, reducing wait times, and cutting intermediary costs.
       </p>
     </div>
     <div class="p-5 duration-300 transform bg-white border rounded-lg shadow-sm hover:-translate-y-2">
       <div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full bg-indigo-50">
         <svg width="70" height="69" viewBox="0 0 70 69" fill="none" xmlns="http://www.w3.org/2000/svg">
         <circle cx="35" cy="34.5" r="34.5" fill="#CEF3FF"/>
         <path d="M43.7566 34.5501V31.1201C43.7566 29.8901 42.8166 28.5301 41.6666 28.1001L36.6766 26.2301C35.8466 25.9201 34.4866 25.9201 33.6566 26.2301L28.6666 28.1101C27.5166 28.5401 26.5766 29.9001 26.5766 31.1201V38.5501C26.5766 39.7301 27.3566 41.2801 28.3066 41.9901L32.6066 45.2001C33.3066 45.7401 34.2366 46.0001 35.1666 46.0001" stroke="#595959" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
         <path d="M39.1666 44C41.3758 44 43.1666 42.2091 43.1666 40C43.1666 37.7909 41.3758 36 39.1666 36C36.9575 36 35.1666 37.7909 35.1666 40C35.1666 42.2091 36.9575 44 39.1666 44Z" stroke="#595959" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
         <path d="M44.1621 45H44.1711" stroke="#595959" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
         </svg>

       </div>
       <h6 class="mb-2 font-semibold leading-5">Security and Transparency</h6>
       <p class="text-sm text-[#04344d]">
         Invest with confidence knowing that Blockchain keeps a clear record of each property's history, making it easy to trust. Real estate deals are safer and more honest, with less risk of cheating.
       </p>
     </div>
     <div class="p-5 duration-300 transform bg-white border rounded-lg shadow-sm hover:-translate-y-2">
       <div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full bg-indigo-50">
         <svg width="70" height="69" viewBox="0 0 70 69" fill="none" xmlns="http://www.w3.org/2000/svg">
         <circle cx="35" cy="34.5" r="34.5" fill="#CEF3FF"/>
         <path d="M40.5 30.16C40.44 30.15 40.37 30.15 40.31 30.16C38.93 30.11 37.83 28.98 37.83 27.58C37.83 26.15 38.98 25 40.41 25C41.84 25 42.99 26.16 42.99 27.58C42.98 28.98 41.88 30.11 40.5 30.16Z" stroke="#595959" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
         <path d="M39.47 37.44C40.84 37.67 42.35 37.43 43.41 36.72C44.82 35.78 44.82 34.24 43.41 33.3C42.34 32.59 40.81 32.35 39.44 32.59" stroke="#595959" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
         <path d="M28.47 30.16C28.53 30.15 28.6 30.15 28.66 30.16C30.04 30.11 31.14 28.98 31.14 27.58C31.14 26.15 29.99 25 28.56 25C27.13 25 25.98 26.16 25.98 27.58C25.99 28.98 27.09 30.11 28.47 30.16Z" stroke="#595959" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
         <path d="M29.5 37.44C28.13 37.67 26.62 37.43 25.56 36.72C24.15 35.78 24.15 34.24 25.56 33.3C26.63 32.59 28.16 32.35 29.53 32.59" stroke="#595959" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
         <path d="M34.5 37.63C34.44 37.62 34.37 37.62 34.31 37.63C32.93 37.58 31.83 36.45 31.83 35.05C31.83 33.62 32.98 32.47 34.41 32.47C35.84 32.47 36.99 33.63 36.99 35.05C36.98 36.45 35.88 37.59 34.5 37.63Z" stroke="#595959" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
         <path d="M31.59 40.78C30.18 41.72 30.18 43.26 31.59 44.2C33.19 45.27 35.81 45.27 37.41 44.2C38.82 43.26 38.82 41.72 37.41 40.78C35.82 39.72 33.19 39.72 31.59 40.78Z" stroke="#595959" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
         </svg>

       </div>
       <h6 class="mb-2 font-semibold leading-5">Accessibility</h6>
       <p class="text-sm text-[#04344d]">
         Now, anyone worldwide has the opportunity to invest in premium properties they couldn't afford before, making the real estate market truly global.
       </p>
     </div>
     <div class="p-5 duration-300 transform bg-white border rounded-lg shadow-sm hover:-translate-y-2">
       <div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full bg-indigo-50">
         <svg width="70" height="69" viewBox="0 0 70 69" fill="none" xmlns="http://www.w3.org/2000/svg">
         <circle cx="35" cy="34.5" r="34.5" fill="#CEF3FF"/>
         <path d="M43.5101 41.5101L38.5601 36.5601" stroke="#595959" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
         <path d="M38.56 36.56L35.02 40.1C34.24 40.88 32.97 40.88 32.19 40.1L27.95 35.86C27.17 35.08 27.17 33.81 27.95 33.03L35.02 25.96C35.8 25.18 37.07 25.18 37.85 25.96L42.09 30.2C42.87 30.98 42.87 32.25 42.09 33.03L38.56 36.56Z" stroke="#595959" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
         <path d="M25.5 44H31.5" stroke="#595959" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
         <path d="M30.0601 30.92L37.1301 37.99" stroke="#595959" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
         </svg>

       </div>
       <h6 class="mb-2 font-semibold leading-5">Decentralized Governance</h6>
       <p class="text-sm text-[#04344d]">
         You have a say in how 'your' real estate assets are managed and governed
       </p>
     </div>
   </div>
 <!--   <div class="text-center">
     <a
       href="/"
       class="inline-flex items-center justify-center w-full h-12 px-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md md:w-auto bg-deep-purple-accent-400 hover:bg-deep-purple-accent-700 focus:shadow-outline focus:outline-none"
     >
       Learn more
     </a>
   </div> -->
 </div>

</section>

<section class="bg-[#00234c] text-white">
    <div class="container flex flex-col-reverse lg:flex-row justify-center p-6 mx-auto sm:py-12 lg:py-24 lg:justify-between">
        <div class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left">
            <h1 class="text-5xl font-bold leading-none sm:text-6xl">Embrace the
                <span class="text-[#0fc3ff]"><i>Real Future,</i> </span>Today
            </h1>
            <p class="mt-6 mb-8 text-lg sm:mb-12">A cutting-edge digital solution that empowers real estate investors with Secure, Accessible and Affordable investment opportunities globally.
                
            </p>

            <button class="mx-auto flex items-left justify-start rounded-full">
              <div class="relative z-10 flex w-full cursor-pointer items-center overflow-hidden rounded-full border border-[#00234c] p-[1.5px]">
                <div class="animate-rotate absolute inset-0 h-full w-full rounded-full bg-[conic-gradient(#0ea5e9_20deg,transparent_120deg)]"></div>
                <a href="#target-section">
                  <div class="relative z-20 flex w-full rounded-full bg-[#00234c] p-2">
                    <span class="relative z-50 flex items-center justify-center rounded-lg border border-[#00234c] bg-[#00234c] px-8 py-3 text-center text-sm text-white shadow-2xl transition duration-200 hover:bg-opacity-80">
                      Watch Intro 
                      
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left: 8px">
                      <path d="M7.99998 14.6667C11.6819 14.6667 14.6666 11.6819 14.6666 8.00001C14.6666 4.31811 11.6819 1.33334 7.99998 1.33334C4.31808 1.33334 1.33331 4.31811 1.33331 8.00001C1.33331 11.6819 4.31808 14.6667 7.99998 14.6667Z" stroke="#E9FAFF" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M6.33331 5.9769C6.33331 5.65871 6.33331 5.49961 6.39981 5.4108C6.45775 5.33339 6.54646 5.28497 6.6429 5.27808C6.75357 5.27017 6.8874 5.35621 7.15505 5.52827L10.3021 7.55138C10.5344 7.70069 10.6505 7.77534 10.6906 7.87027C10.7257 7.95321 10.7257 8.04681 10.6906 8.12975C10.6505 8.22468 10.5344 8.29933 10.3021 8.44864L7.15505 10.4718C6.8874 10.6438 6.75357 10.7298 6.6429 10.7219C6.54646 10.7151 6.45775 10.6666 6.39981 10.5892C6.33331 10.5004 6.33331 10.3413 6.33331 10.0231V5.9769Z" stroke="#E9FAFF" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>



                    </span>
                  </div>
                </a>
              </div>
            </button>

        </div>
        <div class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
            <%= image_tag "hero2.gif", class:"rounded-full object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128" %>
        </div>

    </div>
</section>