<p style="color: green"><%= notice %></p>

<h1>Stays</h1>

<div id="stays">
  <% @stays.each do |stay| %>
    <%= render stay %>
    <p>
      <%= link_to "Show this stay", stay %>
    </p>
  <% end %>
</div>

<%= link_to "New stay", new_stay_path %>
