<h1>Editing contact u</h1>

<%= render "form", contact_u: @contact_u %>

<br>

<div>
  <%= link_to "Show this contact u", @contact_u %> |
  <%= link_to "Back to contact us", contact_us_path %>
</div>
