<div id="<%= dom_id stayintheloop %>" class="container p-2 mx-auto sm:p-4 dark:text-gray-800">
  <div class="overflow-x-auto">
    <table class="min-w-full text-xs">
     
      <thead class="dark:bg-gray-300">
        <tr class="text-left">
          <th class="p-3">Name</th>
          <th class="p-3">Email</th>
         
          
        </tr>
      </thead>
      <tbody>
        <tr class="border-b border-opacity-20 dark:border-gray-300 dark:bg-gray-50">
          <td class="p-3">
            <p><%= stayintheloop.name %></p>
          </td>
          <td class="p-3">
            <p><%= stayintheloop.email %></p>
          </td>
          
        
          
        </tr>

      </tbody>
    </table>
  </div>
</div>