<h1>Editing stayintheloop</h1>

<%= render "form", stayintheloop: @stayintheloop %>

<br>

<div>
  <%= link_to "Show this stayintheloop", @stayintheloop %> |
  <%= link_to "Back to stayintheloops", stayintheloops_path %>
</div>
