      <section class="about">
        <div class="about-content">
          <b class="about-us2">About us</b>
          <p class="lrem-ipsum-der-container">
            <span class="lrem-ipsum-der"
              >Lörem ipsum der rederade arat: biskap. Provist makrovabel. Sena
              sanede heterocentrism än mervärdesmat. Hutöling teraligt: fåliga.
              Bil vapp porade skajpa vafåmav. Mibelt pensionärskuvös, hexaling
              ett huber. Krongar helikoptermamma aling. Gigav aren sas, i
              mikrofaktisk. Antiren öning nubelt betalvärd. Plaledes eren att
              kippavandring och sefåliga. Teravav. Nongen onona.
            </span>
          </p>
          <div class="logo-cards">
            <img
              class="logo-in-png1"
              alt=""
              src="assets/public/logo-in-png-1@2x.png"
            />

            <div class="card-wrapper">
              <div class="mission-card-containers">
                <div class="mission-card-rows">
                  <div class="mission-card-items">
                    <div class="mission-card-elements">
                      <div class="mission-card-elements-child"></div>
                      <img
                        class="token-icon"
                        loading="lazy"
                        alt=""
                        src="assets/public/token.svg"
                      />
                    </div>
                  </div>
                  <img
                    class="mission-card-rows-child"
                    loading="lazy"
                    alt=""
                    src="assets/public/arrow-2.svg"
                  />

                  <div class="mission-descriptions">
                    <b class="our-mission">Our Mission</b>
                    <p class="to-democratize-global">
                      To democratize global real estate access and empower
                      individuals to control their financial future.
                    </p>
                  </div>
                </div>
              </div>
              <div class="mission-card-containers1">
                <div class="frame-parent">
                  <div class="frame-wrapper">
                    <div class="ellipse-parent">
                      <div class="frame-child"></div>
                      <img
                        class="token-icon1"
                        alt=""
                        src="assets/public/token-1.svg"
                      />
                    </div>
                  </div>
                  <img class="frame-item" alt="" src="assets/public/arrow-2.svg" />

                  <div class="our-vision-parent">
                    <b class="our-vision">Our Vision</b>
                    <p class="to-be-the">
                      To be the world’s premier leader, offering unparalleled
                      security, accessibility and affordability in fractional
                      investment solutions for real estate assets across the
                      globe.
                    </p>
                  </div>
                </div>
              </div>
              <div class="mission-card-containers2">
                <div class="frame-group">
                  <div class="frame-container">
                    <div class="ellipse-group">
                      <div class="frame-inner"></div>
                      <img
                        class="token-icon2"
                        alt=""
                        src="assets/public/token-2.svg"
                      />
                    </div>
                  </div>
                  <img class="arrow-icon" alt="" src="assets/public/arrow-2.svg" />

                  <div class="our-values-parent">
                    <b class="our-values">Our Values</b>
                    <p class="together-we-strive">
                      Together we strive to deliver a reliable product and
                      services, foster a resilient team, and cultivate a
                      relatable experience for our customers.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="reblox-intro">
        <div class="intro-content">
          <div class="intro-wrapper-wrapper">
            <div class="intro-wrapper">
              <div class="intro-title">
                <b class="introducing-reblox">Introducing Reblox</b>
              </div>
              <div class="intro-image">
                <p class="lrem-ipsum-der-container1">
                  <span class="lrem-ipsum-der1"
                    >Lörem ipsum der rederade arat: biskap. Provist makrovabel.
                    Sena sanede heterocentrism än mervärdesmat. Hutöling
                    teraligt: fåliga. Bil vapp porade skajpa vafåmav. Mibelt
                  </span>
                </p>
                <img
                  class="logo-in-png2"
                  alt=""
                  src="assets/public/logo-in-png-1@2x.png"
                />
              </div>
            </div>
          </div>
          <div class="intro-button">
            <button class="button2">
              <b class="stay-in-the2">Stay in the Loop</b>
              <img class="icon2" alt="" src="assets/public/icon.svg" />
            </button>
          </div>
          <div class="glow-effect">
            <div class="light-glow-energy-1280x720-1"></div>
            <div class="glow-container">
              <img
                class="light-glow-energy-1280x720-2-icon"
                alt=""
                src="assets/public/4611313-light-glow-energy-1280x720-2@2x.png"
              />

              <img
                class="empty-glow-icon"
                loading="lazy"
                alt=""
                src="assets/public/frame-482123@2x.png"
              />
            </div>
          </div>
        </div>
      </section>





