      <section class="stay-in-loop-wrapper">
        <div class="stay-in-loop">
          <div class="div4">
            <div class="heading">
              <h1 class="stay-in-the3">Stay in the loop</h1>
              <p class="stay-ahead-of-container">
                <span class="stay-ahead-of"
                  >Stay ahead of the curve with inspiring content, special
                  insights and industry trends tailored to your investment
                  journey in the ever-evolving digital landscape.
                </span>
              </p>
            </div>
            <form class="form">
              <div class="input">
                <div class="full-name">Full Name</div>
                <div class="input1">
                  <input
                    class="enter-name"
                    placeholder="Enter Name"
                    type="text"
                  />
                </div>
              </div>
              <div class="input2">
                <div class="full-name1">Full Name</div>
                <div class="input3">
                  <input
                    class="enter-name1"
                    placeholder="Enter Email Address"
                    type="text"
                  />
                </div>
              </div>
              <button class="button3">
                <b class="stay-in-the4">Stay in the Loop</b>
                <img class="icon3" alt="" src="./public/icon.svg" />
              </button>
            </form>
          </div>
        </div>
      </section>
      <section class="landing-page-inner">
        <div class="frame-parent13">
          <div class="frame-wrapper2">
            <div class="section-title-parent">
              <div class="section-title">
                <div class="content9">
                  <h1 class="heading1">Short heading goes here</h1>
                  <p class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                </div>
              </div>
              <div class="content10">
                <div class="row">
                  <div class="card">
                    <img
                      class="placeholder-image"
                      loading="lazy"
                      alt=""
                      src="./public/placeholder--image@2x.png"
                    />

                    <div class="content11">
                      <div class="info">
                        <div class="info-description-wrapper">
                          <b class="info-description">Category</b>
                        </div>
                        <div class="info-details">5 min read</div>
                      </div>
                      <div class="title">
                        <h3 class="heading2">
                          Blog title heading will go here
                        </h3>
                        <p class="text1">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Suspendisse varius enim in eros.
                        </p>
                      </div>
                    </div>
                    <div class="button4">
                      <div class="button5">Read more</div>
                      <img
                        class="icon-chevron-right"
                        loading="lazy"
                        alt=""
                        src="./public/icon--chevron-right.svg"
                      />
                    </div>
                  </div>
                  <div class="card1">
                    <img
                      class="placeholder-image1"
                      alt=""
                      src="./public/placeholder--image@2x.png"
                    />

                    <div class="content12">
                      <div class="info1">
                        <div class="text-wrapper">
                          <b class="text2">Category</b>
                        </div>
                        <div class="text3">5 min read</div>
                      </div>
                      <div class="title1">
                        <h3 class="heading3">
                          Blog title heading will go here
                        </h3>
                        <p class="text4">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Suspendisse varius enim in eros.
                        </p>
                      </div>
                    </div>
                    <div class="button6">
                      <div class="button7">Read more</div>
                      <img
                        class="icon-chevron-right1"
                        alt=""
                        src="./public/icon--chevron-right.svg"
                      />
                    </div>
                  </div>
                  <div class="card2">
                    <img
                      class="placeholder-image2"
                      alt=""
                      src="./public/placeholder--image@2x.png"
                    />

                    <div class="content13">
                      <div class="info2">
                        <div class="text-container">
                          <b class="text5">Category</b>
                        </div>
                        <div class="text6">5 min read</div>
                      </div>
                      <div class="title2">
                        <h3 class="heading4">
                          Blog title heading will go here
                        </h3>
                        <p class="text7">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Suspendisse varius enim in eros.
                        </p>
                      </div>
                    </div>
                    <div class="button8">
                      <div class="button9">Read more</div>
                      <img
                        class="icon-chevron-right2"
                        alt=""
                        src="./public/icon--chevron-right.svg"
                      />
                    </div>
                  </div>
                </div>
                <div class="button10">
                  <div class="button11">View all</div>
                </div>
              </div>
            </div>
          </div>
          <div class="contact-wrapper">
            <div class="contact">
              <div class="content14">
                <div class="section-title1">
                  <b class="heading5">Contact us</b>
                  <p class="text8">
                    Our friendly team would love to hear from you.
                  </p>
                </div>
                <div class="content15">
                  <div class="row1">
                    <img
                      class="icon-email"
                      loading="lazy"
                      alt=""
                      src="./public/icon--email.svg"
                    />

                    <div class="contact-value">hello@ade.io</div>
                  </div>
                  <div class="row2">
                    <img
                      class="icon-phone"
                      loading="lazy"
                      alt=""
                      src="./public/icon--phone.svg"
                    />

                    <div class="text9">+1 (555) 000-0000</div>
                  </div>
                  <div class="row3">
                    <img
                      class="icon-pin"
                      loading="lazy"
                      alt=""
                      src="./public/icon--pin.svg"
                    />

                    <div class="text10">123 Sample St, Sydney NSW 2000 AU</div>
                  </div>
                </div>
              </div>
              <div class="form-fields">
                <div class="inputs">
                  <div class="input4">
                    <div class="full-name2">Full Name</div>
                    <div class="input5">
                      <input
                        class="enter-name2"
                        placeholder="Enter Name"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <div class="input6">
                  <div class="full-name3">Email</div>
                  <div class="input7">
                    <input
                      class="enter-name3"
                      placeholder="Enter Email address"
                      type="text"
                    />
                  </div>
                </div>
                <div class="input8">
                  <div class="full-name4">Message</div>
                  <textarea
                    class="input9"
                    placeholder="Type message"
                    rows="{7}"
                    cols="{31}"
                  >
                  </textarea>
                </div>
                <div class="checkbox">
                  <input class="checkbox-container" type="checkbox" />

                  <div class="label">
                    I accept the
                    <span class="terms">Terms</span>
                  </div>
                </div>
                <button class="button12">
                  <b class="stay-in-the5">Contact us</b>
                  <img class="icon4" alt="" src="./public/icon.svg" />
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>