      <section class="risk-card">
        <div class="risk-content">
          <div class="risk-heading">
            <h1 class="potential-risk-and">
              Potential Risk and Mitigation Strategies
            </h1>
            <div class="knowing-all-the-container">
              <p class="knowing-all-the">Knowing all the risks is your right</p>
            </div>
          </div>
          <div class="risk-list">
            <div class="offer-parent">
              <div class="offer">
                <div class="content4">
                  <div class="item">
                    <div class="risk-description">
                      <div class="chevron">1.</div>
                      <h1 class="risk-associated-with">
                        Risk associated with regulatory uncertainties
                      </h1>
                    </div>
                    <img
                      class="chevronchevron-down-icon"
                      loading="lazy"
                      alt=""
                      src="./public/chevronchevrondown.svg"
                    />
                  </div>
                  <div class="reblox-response">
                    <div class="diligence">
                      <div class="icon-container">
                        <img
                          class="logomark-reblox-1"
                          loading="lazy"
                          alt=""
                          src="./public/logomark-reblox-1@2x.png"
                        />
                      </div>
                      <p class="we-conduct-thorough-container">
                        <b>We </b>
                        <span class="conduct-thorough-legal"
                          >conduct thorough legal due diligence for each
                          property to ensure compliance and minimize legal
                          risks, engaging with regulators to establish clear
                          legal frameworks, and collaborating with industry
                          stakeholders to address common challenges, staying
                          updated on regulatory changes, diversifying property
                          jurisdictions, and provide hybrid models with
                          traditional financing options to provide flexibility
                          and enhance investor confidence</span
                        >
                      </p>
                    </div>
                  </div>
                  <div class="investor-tip">
                    <div class="diversification">
                      <div class="tip-icon">
                        <img
                          class="briefcase-job-icon"
                          loading="lazy"
                          alt=""
                          src="./public/briefcasejob.svg"
                        />
                      </div>
                      <p class="investors-are-encouraged-container">
                        <b>Investors</b>
                        <span class="are-encouraged-to">
                          are encouraged to diversify real estate portfolio to
                          spread risk across different assets and
                          locations.</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <div class="link-button">
                  <div class="learn-more">Learn more</div>
                  <img
                    class="iconactionarrow-right-alt-24"
                    alt=""
                    src="./public/iconactionarrow-right-alt-24px.svg"
                  />
                </div>
              </div>
              <div class="offer1">
                <div class="content5">
                  <div class="frame-parent4">
                    <div class="parent">
                      <div class="div">2.</div>
                      <h1 class="market-volatility-impacting">
                        Market volatility impacting token values
                      </h1>
                    </div>
                    <img
                      class="chevronchevron-down-icon1"
                      alt=""
                      src="./public/chevronchevrondown.svg"
                    />
                  </div>
                  <div class="content-inner">
                    <div class="frame-parent5">
                      <div class="logomark-reblox-1-wrapper">
                        <img
                          class="logomark-reblox-11"
                          alt=""
                          src="./public/logomark-reblox-1@2x.png"
                        />
                      </div>
                      <p class="we-provide-real">
                        We provide real time market data, communicating clear
                        exit strategies, and stablecoin or asset-backed
                        tokenization options to our investors. Maintain
                        transparent communication with investors, providing
                        regular updates and clear information on token
                        performance.
                      </p>
                    </div>
                  </div>
                  <div class="content-child">
                    <div class="frame-parent6">
                      <div class="briefcase-job-wrapper">
                        <img
                          class="briefcase-job-icon1"
                          alt=""
                          src="./public/briefcasejob.svg"
                        />
                      </div>
                      <p class="investors-are-encouraged">
                        Investors are encouraged to regularly monitor market
                        trends and adapting strategies accordingly, diversify
                        asset types, and implement liquidity measures such as
                        token buybacks or reserve funds,
                      </p>
                    </div>
                  </div>
                </div>
                <div class="link-button1">
                  <div class="learn-more1">Learn more</div>
                  <img
                    class="iconactionarrow-right-alt-241"
                    alt=""
                    src="./public/iconactionarrow-right-alt-24px.svg"
                  />
                </div>
              </div>
              <div class="offer2">
                <div class="content6">
                  <div class="frame-parent7">
                    <div class="group">
                      <div class="div1">3.</div>
                      <h1 class="smart-contract-vulnerabilities">
                        Smart contract vulnerabilities
                      </h1>
                    </div>
                    <img
                      class="chevronchevron-down-icon2"
                      alt=""
                      src="./public/chevronchevrondown.svg"
                    />
                  </div>
                  <div class="content-inner1">
                    <div class="frame-parent8">
                      <div class="logomark-reblox-1-container">
                        <img
                          class="logomark-reblox-12"
                          alt=""
                          src="./public/logomark-reblox-1@2x.png"
                        />
                      </div>
                      <p class="we-employ-rigorous">
                        We employ rigorous code audits by experienced
                        professionals, use well-established and audited smart
                        contract frameworks, implement multi-signature
                        authentication for critical transactions, maintain
                        open-source transparency for community scrutiny, and
                        establish emergency response plans in case of detected
                        vulnerabilities. Additionally, we provide insurance
                        coverage for potential losses due to smart contract
                        vulnerabilities.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="link-button2">
                  <div class="learn-more2">Learn more</div>
                  <img
                    class="iconactionarrow-right-alt-242"
                    alt=""
                    src="./public/iconactionarrow-right-alt-24px.svg"
                  />
                </div>
              </div>
              <div class="offer3">
                <div class="content7">
                  <div class="frame-parent9">
                    <div class="parent1">
                      <div class="div2">4.</div>
                      <h1 class="potential-security-breaches">
                        Potential security breaches that may compromise the
                        digital representation of real assets
                      </h1>
                    </div>
                    <img
                      class="chevronchevron-down-icon3"
                      alt=""
                      src="./public/chevronchevrondown-3.svg"
                    />
                  </div>
                  <div class="content-inner2">
                    <div class="frame-parent10">
                      <div class="logomark-reblox-1-frame">
                        <img
                          class="logomark-reblox-13"
                          alt=""
                          src="./public/logomark-reblox-1@2x.png"
                        />
                      </div>
                      <p class="we-implement-robust">
                        We implement robust cybersecurity measures such as
                        encryption, multi-factor authentication, regular
                        security audits, and penetration testing. Utilize secure
                        storage solutions for digital assets, such as cold
                        wallets or hardware security modules. Additionally, we
                        ensure comprehensive employee training on cybersecurity
                        best practices and establish incident response protocols
                        to swiftly address and mitigate any breaches.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="link-button3">
                  <div class="learn-more3">Learn more</div>
                  <img
                    class="iconactionarrow-right-alt-243"
                    alt=""
                    src="./public/iconactionarrow-right-alt-24px.svg"
                  />
                </div>
              </div>
              <div class="offer4">
                <div class="content8">
                  <div class="frame-parent11">
                    <div class="parent2">
                      <div class="div3">5.</div>
                      <h1 class="issues-related-to">
                        Issues related to liquidity and adoption
                      </h1>
                    </div>
                    <img
                      class="chevronchevron-down-icon4"
                      alt=""
                      src="./public/chevronchevrondown.svg"
                    />
                  </div>
                  <div class="content-inner3">
                    <div class="frame-parent12">
                      <div class="logomark-reblox-1-wrapper1">
                        <img
                          class="logomark-reblox-14"
                          alt=""
                          src="./public/logomark-reblox-1@2x.png"
                        />
                      </div>
                      <h3 class="we-foster-liquidity">
                        We foster liquidity through secondary trading platforms
                        and Liquidity pools. We continue to incentivize adoption
                        through education and awareness campaigns.
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="link-button4">
                  <div class="learn-more4">Learn more</div>
                  <img
                    class="iconactionarrow-right-alt-244"
                    alt=""
                    src="./public/iconactionarrow-right-alt-24px.svg"
                  />
                </div>
              </div>
            </div>
            <div class="m-2 space-y-2">
  <div
    class="group flex flex-col gap-2 rounded-lg p-5 "
    tabindex="1"
  >
    <div class="flex cursor-pointer items-center justify-between">
      <span> HTML </span>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/9/96/Chevron-icon-drop-down-menu-WHITE.png"
        class="h-2 w-3 transition-all duration-500 group-focus:-rotate-180"
      />
    </div>
    <div
      class="invisible h-auto max-h-0 items-center opacity-0 transition-all group-focus:visible group-focus:max-h-screen group-focus:opacity-100 group-focus:duration-1000"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </div>
  </div>

  <div
    class="group flex flex-col gap-2 rounded-lg bg-white p-5 text-white"
    tabindex="2"
  >
    <div class="flex cursor-pointer items-center justify-between">
      <span> CSS </span>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/9/96/Chevron-icon-drop-down-menu-WHITE.png"
        class="h-2 w-3 transition-all duration-500 group-focus:-rotate-180"
      />
    </div>
    <div
      class="invisible h-auto max-h-0 items-center opacity-0 transition-all group-focus:visible group-focus:max-h-screen group-focus:opacity-100 group-focus:duration-1000"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </div>
  </div>

  <div
    class="group flex flex-col gap-2 rounded-lg  p-5 "
    tabindex="3"
  >
    <div class="flex cursor-pointer items-center justify-between">
      <span> JAVASCRIPT </span>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/9/96/Chevron-icon-drop-down-menu-WHITE.png"
        class="h-2 w-3 transition-all duration-500 group-focus:-rotate-180"
      />
    </div>
    <div
      class="invisible h-auto max-h-0 items-center opacity-0 transition-all group-focus:visible group-focus:max-h-screen group-focus:opacity-100 group-focus:duration-1000"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </div>
  </div>
</div>
          </div>
        </div>
      </section>

      <!-- component -->
