    <style>
        .back-to-top {
            display: none;
        }
        .back-to-top.show {
            display: block;
        }
        .foot {
          font-family: 'Nunito', sans-serif;
        }
        .bg-cover-custom2 {
          background-image: url('<%= asset_path('footer.png') %>');
          background-size: cover;
          background-position: center;
        }
    </style>

<!-- Footer -->
<footer id="foot" class="bg-[#064283] text-white py-10 relative bg-cover-custom2" style="font-family: 'Nunito', sans-serif;">
    <div class="container mx-auto px-4 md:flex md:justify-between md:items-start">
        <!-- Left Section -->
        <div class="mb-8 md:mb-0 md:w-1/2">
            <div class="flex flex-col items-start">
                <!-- Logo -->
                <a class="text-3xl font-bold leading-none" href="https://reblox.app">
                  <%= image_tag "logo-main.png", class:"w-40 h-auto mb-4" %>
                </a>
               
                <!-- Input Field and Button -->
                <div class="w-full flex flex-col sm:flex-row gap-2">
                    
                    <button href="/stayintheloops/new" class="bg-[#0fc3ff] text-[#00234c] mt-8 px-4 py-2 rounded-lg font-bold w-full sm:w-auto">Stay in the Loop</button>
                </div>
            </div>
        </div>
        
        <!-- Right Section -->
        <div class="md:w-1/2">
            <div class="flex flex-wrap justify-between ml-4 md:ml-12">
                <!-- Links Section -->
                <div class="mb-8 md:mb-0 md:w-1/2">
                    <h2 class="font-semibold text-lg mb-4">Links</h2>
                    <ul class="space-y-2">
                        <li><a href="#aboutus" class="hover:underline">About</a></li>
                        <li><a href="/contus/new" class="hover:underline">Contact</a></li>
                        <li><a href="/blogs" class="hover:underline">Blog</a></li>
                    </ul>
                </div>



                <!-- Follow Us Section -->
                <div class="md:w-1/2">
                    <h2 class="font-semibold text-lg mb-4">Follow Us</h2>
                    <ul class="space-y-2">
                        <li class="flex items-center gap-2">
                            <div class="bg-white p-1 rounded-full">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="24" height="24" rx="12" fill="white"/>
                                <path d="M8.66675 10.6667V13.3333H10.6667V18H13.3334V13.3333H15.3334L16.0001 10.6667H13.3334V9.33333C13.3334 9.15652 13.4037 8.98695 13.5287 8.86193C13.6537 8.73691 13.8233 8.66667 14.0001 8.66667H16.0001V6H14.0001C13.116 6 12.2682 6.35119 11.6431 6.97631C11.0179 7.60143 10.6667 8.44928 10.6667 9.33333V10.6667H8.66675Z" stroke="#393939" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                            </div>
                            <a href="https://www.facebook.com/reblox" class="hover:underline">Facebook</a>
                        </li>
                        <li class="flex items-center gap-2">
                            <div class="bg-white p-1 rounded-full">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="24" height="24" rx="12" fill="white"/>
                                <path d="M15.0001 8.99935V9.00602M6.66675 9.33268C6.66675 8.62544 6.9477 7.94716 7.4478 7.44706C7.94789 6.94697 8.62617 6.66602 9.33341 6.66602H14.6667C15.374 6.66602 16.0523 6.94697 16.5524 7.44706C17.0525 7.94716 17.3334 8.62544 17.3334 9.33268V14.666C17.3334 15.3733 17.0525 16.0515 16.5524 16.5516C16.0523 17.0517 15.374 17.3327 14.6667 17.3327H9.33341C8.62617 17.3327 7.94789 17.0517 7.4478 16.5516C6.9477 16.0515 6.66675 15.3733 6.66675 14.666V9.33268ZM10.0001 11.9993C10.0001 12.5298 10.2108 13.0385 10.5859 13.4136C10.9609 13.7886 11.4696 13.9993 12.0001 13.9993C12.5305 13.9993 13.0392 13.7886 13.4143 13.4136C13.7894 13.0385 14.0001 12.5298 14.0001 11.9993C14.0001 11.4689 13.7894 10.9602 13.4143 10.5851C13.0392 10.2101 12.5305 9.99935 12.0001 9.99935C11.4696 9.99935 10.9609 10.2101 10.5859 10.5851C10.2108 10.9602 10.0001 11.4689 10.0001 11.9993Z" stroke="#393939" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                            </div>
                            <a href="https://www.instagram.com/reblox" class="hover:underline">Instagram</a>
                        </li>
                        <li class="flex items-center gap-2">
                            <div class="bg-white p-1 rounded-full">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="24" height="24" rx="12" fill="white"/>
                                <path d="M18.6666 6.67334C17.9999 7.00001 17.3466 7.13268 16.6666 7.33334C15.9193 6.49001 14.8113 6.44334 13.7466 6.84201C12.6819 7.24068 11.9846 8.21534 11.9999 9.33334V10C9.83659 10.0553 7.90992 9.07001 6.66659 7.33334C6.66659 7.33334 3.87858 12.2887 9.33325 14.6667C8.08525 15.498 6.84059 16.0587 5.33325 16C7.53859 17.202 9.94192 17.6153 12.0226 17.0113C14.4093 16.318 16.3706 14.5293 17.1233 11.85C17.3478 11.0351 17.4593 10.1932 17.4546 9.34801C17.4546 9.18201 18.4613 7.50001 18.6666 6.67268V6.67334Z" stroke="#393939" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                            </div>
                            <a href="https://www.twitter.com/reblox" class="hover:underline">Twitter</a>
                        </li>
                        <li class="flex items-center gap-2">
                            <div class="bg-white p-1 rounded-full">
                                
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="24" height="24" rx="12" fill="white"/>
                                <path d="M9.33341 11.3327V14.666M9.33341 9.33268V9.33935M12.0001 14.666V11.3327M14.6667 14.666V12.666C14.6667 12.3124 14.5263 11.9733 14.2762 11.7232C14.0262 11.4732 13.687 11.3327 13.3334 11.3327C12.9798 11.3327 12.6407 11.4732 12.3906 11.7232C12.1406 11.9733 12.0001 12.3124 12.0001 12.666M6.66675 7.99935C6.66675 7.64573 6.80722 7.30659 7.05727 7.05654C7.30732 6.80649 7.64646 6.66602 8.00008 6.66602H16.0001C16.3537 6.66602 16.6928 6.80649 16.9429 7.05654C17.1929 7.30659 17.3334 7.64573 17.3334 7.99935V15.9993C17.3334 16.353 17.1929 16.6921 16.9429 16.9422C16.6928 17.1922 16.3537 17.3327 16.0001 17.3327H8.00008C7.64646 17.3327 7.30732 17.1922 7.05727 16.9422C6.80722 16.6921 6.66675 16.353 6.66675 15.9993V7.99935Z" stroke="#393939" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>


                            </div>
                            <a href="https://www.linkedin.com/reblox" class="hover:underline">LinkedIn</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="container mx-auto px-4 mt-8 flex flex-col md:flex-row justify-between items-center text-sm space-y-4 md:space-y-0 relative">
        <div class="text-left flex flex-col md:flex-row gap-4 md:gap-2">
            <div>
                © Copyright Reblox
            </div>
            <div>
                <a href="#" class="hover:underline">Privacy Policy</a> and <a href="#" class="hover:underline">Terms of Service</a>
            </div>
        </div>
        <button id="back-to-top" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });" class="hidden fixed bottom-8 right-8 bg-cyan-500 text-blue-900 p-4 rounded-full">
            <svg class="w-6 h-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M12 2l7 7-1.414 1.414L13 6.828V20h-2V6.828L6.414 10.414 5 9l7-7z"/>
            </svg>
        </button>
    </div>
</footer>

<script>
    const backToTopButton = document.getElementById('back-to-top');

    window.addEventListener('scroll', () => {
        if (window.scrollY > 100) {
            backToTopButton.classList.remove('hidden');
        } else {
            backToTopButton.classList.add('hidden');
        }
    });
</script>

</body>
