      <footer class="footer">
        <img
          class="reblox-patterns-1"
          alt=""
          src="./public/reblox-patterns-1@2x.png"
        />

        <div class="footer-content">
          <div class="footer-left-parent">
            <div class="footer-left">
              <img
                class="logo-in-png5"
                alt=""
                src="./public/logo-in-png@2x.png"
              />
            </div>
            <div class="footer-right">
              <div class="input10">
                <div class="full-name5">Full Name</div>
                <div class="input11">
                  <input
                    class="adewale"
                    placeholder="Email Address "
                    type="text"
                  />
                </div>
              </div>
              <button class="button13">
                <b class="stay-in-the6">Stay in the Loop</b>
                <img class="icon5" alt="" src="./public/icon.svg" />
              </button>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="copyright-reblox-wrapper">
              <b class="copyright-reblox">© Copyright Reblox</b>
            </div>
            <b class="privacy-policy-and-container">
              <span class="privacy-policy">Privacy Policy</span>
              <span class="and"> and </span>
              <span class="terms-of-service">Terms of Service</span>
            </b>
          </div>
        </div>
        <div class="column-wrapper">
          <div class="column">
            <b class="heading6">Links</b>
            <div class="footer-links">
              <div class="link">
                <div class="link1">About us</div>
              </div>
              <div class="link2">
                <div class="link3">Blog</div>
              </div>
              <div class="link4">
                <div class="link5">Contact us</div>
              </div>
            </div>
          </div>
        </div>
        <div class="column-container">
          <div class="column1">
            <b class="heading7">Follow Us</b>
            <div class="social-links">
              <div class="link6">
                <div class="social-link-icon">
                  <img
                    class="brand-facebook-icon"
                    alt=""
                    src="./public/brandfacebook.svg"
                  />
                </div>
                <div class="facebook">Facebook</div>
              </div>
              <div class="link7">
                <div class="brand-instagram-wrapper">
                  <img
                    class="brand-instagram-icon"
                    alt=""
                    src="./public/brandinstagram.svg"
                  />
                </div>
                <div class="instagram">Instagram</div>
              </div>
              <div class="link8">
                <div class="brand-twitter-wrapper">
                  <img
                    class="brand-twitter-icon"
                    alt=""
                    src="./public/brandtwitter.svg"
                  />
                </div>
                <div class="twitter">Twitter</div>
              </div>
              <div class="link9">
                <div class="brand-linkedin-wrapper">
                  <img
                    class="brand-linkedin-icon"
                    alt=""
                    src="./public/brandlinkedin.svg"
                  />
                </div>
                <div class="linkedin">LinkedIn</div>
              </div>
            </div>
          </div>
        </div>
      </footer>