<div class="w-full" style="background-color: #00234c;">
    <div class="flex flex-col-reverse lg:flex-row min-h-[560px] sm:min-h-[560px]">
        <!-- Adjusted min-height -->
        <div class="flex items-center text-center lg:text-left px-8 md:px-12 lg:w-1/2 sm:w-full min-h-[40vh] lg:mt-[-48px] sm:mt-[-32px] sm:pt-0">
            <!-- Adjusted margin-top -->
            <div class="w-full">
                <h1 class="m-0 w-full relative text-white leading-[100%] inline-block max-w-[100%] shrink-0 text-3xl md:text-4xl sm:text-2xl">
                    <!-- Added sm:text-2xl -->
                    <span class="embrace-the">Embrace the </span>
                    <i class="real-future">
                        <span>Real Future</span>
                        <span class="span">,</span>
                        <span> </span>
                    </i>
                    <span>
                        <span class="today">Today.</span>
                    </span>
                </h1>
                <p class="a-cutting-edge-digital">
                    A cutting-edge digital solution that empowers real estate investors with Secure, Accessible and Affordable investment opportunities globally.
                </p>
                <div class="flex justify-center lg:justify-start mt-4">
                    <div class="mr-2"><%= render 'layouts/loop' %></div>
                    <div><%= render 'layouts/watch' %></div>
                </div>

                <br>

                <div class="flex justify-center lg:justify-start sm:justify-center mt-4 lg:ml-0 sm:ml-0 lg:pl-0 sm:pl-4">
                    <%= link_to "Will you take a survey to help us serve you better and improve our website?", new_survey_path, class: "flex flex-row items-center p-2 gap-3 w-[298px] h-[80px] bg-white bg-opacity-85 border border-[#0FC3FF] rounded-md" %>
                </div>
            </div>
        </div>
        <div class="lg:w-1/2 sm:w-full flex items-center justify-center sm:pb-2">
            <%= image_tag "bg-logo.png", class:"max-w-full max-h-full sm:max-h-[80%]" %>
            <!-- Adjusted image height -->
        </div>
    </div>
</div>

<style>
.embrace-the {
    font-weight: normal; /* Removed boldness */
}

@media (min-width: 1024px) {
  .lg\:mt-[-48px] {
    margin-top: -48px;
  }
  .min-h-[560px] {
    min-height: 560px;
  }
  .lg\:ml-0 {
    margin-left: 0; /* Align to the left on large screens */
  }
  .lg\:pl-0 {
    padding-left: 0; /* Remove padding on large screens */
  }
}

@media (max-width: 640px) {
  .sm\:flex-col {
    flex-direction: column;
  }
  .min-h-[560px] {
    min-height: 560px;
  }
  .min-h-[40vh] {
    min-height: 40vh;
  }
  .sm\:mt-[-32px] {
    margin-top: -32px;
  }
  .max-w-full {
    max-width: 100%;
  }
  .max-h-full {
    max-height: 100%;
  }
  .sm\:pt-0 {
    padding-top: 0;
  }
  .sm\:pb-2 {
    padding-bottom: 0.5rem;
  }
  .sm\:max-h-[80%] {
    max-height: 80%;
  }
  .mt-4 {
    margin-top: 1rem;
  }
  .mr-2 {
    margin-right: 0.5rem;
  }
  .sm\:text-2xl {
    font-size: 1.5rem;
  }
  .sm\:text-xl {
    font-size: 1.25rem;
  }
  .sm\:ml-0 {
    margin-left: 0;
  }
  .sm\:pl-4 {
    padding-left: 1rem;
  }
}
</style>
