<section
        class="flex flex-row items-start justify-start pt-0 px-0 pb-[50px] box-border max-w-full text-left text-[80px] text-color4 font-body-xm-regular-16 mq450:pb-[21px] mq450:box-border mq800:pb-8 mq800:box-border"
      >
        <div
          class="w-[1440px] bg-color2 overflow-hidden shrink-0 flex flex-row items-start justify-start pt-[184px] px-[67px] pb-[61px] box-border gap-[1336px] max-w-full mq450:gap-[167px] mq800:gap-[334px] mq800:pt-[120px] mq800:pb-10 mq800:box-border mq1350:flex-wrap mq1350:gap-[668px] mq1350:pl-[33px] mq1350:pr-[33px] mq1350:box-border"
        >
          <div
            class="flex flex-col items-start justify-start gap-[140px] shrink-0 [debug_commit:bf4bc93] max-w-full mq450:gap-[35px] mq800:gap-[70px]"
          >
            <div
              class="flex flex-row items-start justify-start relative max-w-full"
            >
              <img
                class="h-[749px] w-[981px] absolute !m-[0] right-[-826px] bottom-[-247px] object-cover"
                loading="lazy"
                alt=""
                src="/public/image-5@2x.png"
              />

              <div
                class="w-[540px] flex flex-col items-start justify-start py-0 px-0 box-border gap-[16px] max-w-full z-[1]"
              >
                <div
                  class="w-[561px] flex flex-col items-start justify-start py-0 px-0 box-border gap-[16px] max-w-[104%] shrink-0"
                >
                  <h1
                    class="m-0 w-[700px] relative text-inherit leading-[110%] inline-block max-w-[125%] shrink-0 font-inherit mq450:text-5xl mq450:leading-[35px] mq800:text-[40px] mq800:leading-[53px]"
                  >
                    <span class="font-extrabold">Embrace the </span>
                    <i class="font-extrabold text-deepskyblue-200">
                      <span>Real Future</span>
                      <span class="text-deepskyblue-100">,</span>
                      <span> </span>
                    </i>
                    <span>
                      <span class="font-extrabold">Today.</span>
                    </span>
                  </h1>
                  <p
                    class="m-0 self-stretch relative text-base font-medium text-off-white"
                  >
                    A cutting-edge digital solution that empowers real estate
                    investors with Secure, Accessible and Affordable investment
                    opportunities globally.
                  </p>
                </div>
                <div
                  class="flex flex-row items-start justify-center gap-[16px] max-w-full mq450:flex-wrap"
                >
                  <button
                    class="cursor-pointer [border:none] py-[11.5px] px-[34px] bg-color1 shadow-[0px_4px_27px_rgba(0,_0,_0,_0.25)] rounded-xl overflow-hidden flex flex-row items-center justify-center gap-[8px] whitespace-nowrap hover:bg-deepskyblue-300"
                  >
                    <b
                      class="relative text-lg leading-[150%] font-body-xm-regular-16 text-color2 text-center"
                      >Stay in the Loop</b
                    >
                    <img
                      class="h-6 w-6 relative overflow-hidden shrink-0 hidden"
                      alt=""
                      src="/public/icon.svg"
                    />
                  </button>
                  <button
                    class="cursor-pointer py-3 px-[19px] bg-[transparent] [filter:drop-shadow(0px_0px_10px_#20265a)] rounded-[50px] flex flex-row items-center justify-center gap-[10px] whitespace-nowrap border-[1px] border-solid border-white hover:bg-gainsboro hover:box-border hover:border-[1px] hover:border-solid hover:border-color4"
                  >
                    <div
                      class="relative text-base font-medium font-body-xm-regular-16 text-bg-50 text-left inline-block min-w-[125px]"
                    >
                      See how it works
                    </div>
                    <img
                      class="h-4 w-4 relative overflow-hidden shrink-0"
                      alt=""
                      src="/public/component-1.svg"
                    />
                  </button>
                </div>
              </div>
            </div>
            <button
              class="cursor-pointer py-1.5 px-[15px] bg-[transparent] rounded-lg flex flex-row items-start justify-start gap-[12px] border-[1px] border-solid border-color1"
            >
              <div
                class="flex flex-col items-start justify-start pt-[3px] px-0 pb-0"
              >
                <img
                  class="w-6 h-6 relative overflow-hidden shrink-0"
                  alt=""
                  src="/public/cryptocurrencycolorchat.svg"
                />
              </div>
              <b
                class="relative text-[20px] leading-[150%] font-semibold font-body-xm-regular-16 text-white text-left inline-block min-w-[82px] mq450:text-base mq450:leading-[24px]"
                >Live chat</b
              >
            </button>
          </div>
          <div
            class="w-[630px] flex flex-col items-start justify-start pt-[156px] px-0 pb-0 box-border max-w-full shrink-0 text-[64px]"
          >
            <h1
              class="m-0 self-stretch h-[166px] relative text-inherit leading-[129%] font-extrabold font-inherit inline-block shrink-0 [debug_commit:bf4bc93] mq450:text-19xl mq450:leading-[50px] mq800:text-[51px] mq800:leading-[66px]"
            >
              Embrace the Real Future, Today.
            </h1>
          </div>
        </div>
      </section>

<div class="w-full" style="background-color: #00234c;">
    <div class="flex flex-col-reverse lg:flex-row min-h-[560px] sm:min-h-[560px]">
        <!-- Adjusted min-height -->
        <div class="flex items-center text-center lg:text-left px-8 md:px-12 lg:w-1/2 sm:w-full min-h-[40vh] lg:mt-[-48px] sm:mt-[-32px] sm:pt-0">
            <!-- Adjusted margin-top -->
            <div class="w-full">
                <h1 class="m-0 w-full relative text-white leading-[100%] inline-block max-w-[100%] shrink-0 text-3xl md:text-4xl sm:text-2xl">
                    <!-- Added sm:text-2xl -->
                    <span class="embrace-the">Embrace the </span>
                    <i class="real-future">
                        <span>Real Future</span>
                        <span class="span">,</span>
                        <span> </span>
                    </i>
                    <span>
                        <span class="today">Today.</span>
                    </span>
                </h1>
                <p class="a-cutting-edge-digital">
                    A cutting-edge digital solution that empowers real estate investors with Secure, Accessible and Affordable investment opportunities globally.
                </p>
                <div class="flex justify-center lg:justify-start mt-4">
                    <div class="mr-2"><%= render 'layouts/loop' %></div>
                    <div><%= render 'layouts/watch' %></div>
                </div>

                <br>

                <div class="flex justify-center lg:justify-start sm:justify-center mt-4 lg:ml-0 sm:ml-0 lg:pl-0 sm:pl-4">
                    <%= link_to "Will you take a survey to help us serve you better and improve our website?", new_survey_path, class: "flex flex-row items-center p-2 gap-3 w-[298px] h-[80px] bg-white bg-opacity-85 border border-[#0FC3FF] rounded-md" %>
                </div>
            </div>
        </div>
        <div class="lg:w-1/2 sm:w-full flex items-center justify-center sm:pb-2">
            <%= image_tag "bg-logo.png", class:"max-w-full max-h-full sm:max-h-[80%]" %>
            <!-- Adjusted image height -->
        </div>
    </div>
</div>

<style>
.embrace-the {
    font-weight: normal; /* Removed boldness */
}

@media (min-width: 1024px) {
  .lg\:mt-[-48px] {
    margin-top: -48px;
  }
  .min-h-[560px] {
    min-height: 560px;
  }
  .lg\:ml-0 {
    margin-left: 0; /* Align to the left on large screens */
  }
  .lg\:pl-0 {
    padding-left: 0; /* Remove padding on large screens */
  }
}

@media (max-width: 640px) {
  .sm\:flex-col {
    flex-direction: column;
  }
  .min-h-[560px] {
    min-height: 560px;
  }
  .min-h-[40vh] {
    min-height: 40vh;
  }
  .sm\:mt-[-32px] {
    margin-top: -32px;
  }
  .max-w-full {
    max-width: 100%;
  }
  .max-h-full {
    max-height: 100%;
  }
  .sm\:pt-0 {
    padding-top: 0;
  }
  .sm\:pb-2 {
    padding-bottom: 0.5rem;
  }
  .sm\:max-h-[80%] {
    max-height: 80%;
  }
  .mt-4 {
    margin-top: 1rem;
  }
  .mr-2 {
    margin-right: 0.5rem;
  }
  .sm\:text-2xl {
    font-size: 1.5rem;
  }
  .sm\:text-xl {
    font-size: 1.25rem;
  }
  .sm\:ml-0 {
    margin-left: 0;
  }
  .sm\:pl-4 {
    padding-left: 1rem;
  }
}
</style>
