      <section class="stories">
        <div class="stories-content">
          <div class="stories-title">
            <h1 class="tokenization-success-stories">
              Real Estate Tokenization Success Stories
            </h1>
          </div>
          <p class="lrem-ipsum-der-container2">
            <span class="lrem-ipsum-der2"
              >Real Estate Tokenization Success Stories
            </span>
          </p>
        </div>
      </section>
      <section class="success-cards">
        <div class="cards-container">
          <div class="card-wrapper1">
            <div class="rotating-cards-parent">
              
 <%= image_tag "public/regis.png", class:"rotating-cards-icon" %>
              <div class="manhattan-card-wrapper">
                <div class="manhattan-card">
                  <div class="manhattan-image">
                    <div class="shape-wrapper">
                      <div class="shape"></div>
                    </div>
                    <div class="contebt">
                      <div class="container">
                        <div class="content">
                          <h1 class="the-st-regis">
                            The St. Regis Resort in Aspen, Colorado
                          </h1>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="the-first-major justify">
                    The first major asset in Manhattan to be tokenized on
                    Ethereum, appraised at over $30M. With condominium prices
                    soaring and a lengthy purchase process, cryptocurrencies
                    offer a streamlined alternative.
                  </p>
                  <p class="investors-can-choose">
                    Investors can choose between analog or digital interests in
                    the securities, ensuring flexibility for buyers. Profits
                    from token trading and regular rental income from high
                    demand in NYC bolster investor returns.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-wrapper1">
            <div class="rotating-cards-parent">
              
 <%= image_tag "public/12.png", class:"rotating-cards-icon" %>
              <div class="manhattan-card-wrapper">
                <div class="manhattan-card">
                  <div class="manhattan-image">
                    <div class="shape-wrapper">
                      <div class="shape"></div>
                    </div>
                    <div class="contebt">
                      <div class="container">
                        <div class="content">
                          <h1 class="the-st-regis">
                            The 12-unit building at 436 & 442E 13th St in the East Village, Manhattan
                          </h1>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="the-first-major justify">
                    The first major asset in Manhattan to be tokenized on
                    Ethereum, appraised at over $30M. With condominium prices
                    soaring and a lengthy purchase process, cryptocurrencies
                    offer a streamlined alternative.
                  </p>
                  <p class="investors-can-choose">
                    Investors can choose between analog or digital interests in
                    the securities, ensuring flexibility for buyers. Profits
                    from token trading and regular rental income from high
                    demand in NYC bolster investor returns.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-wrapper1">
            <div class="rotating-cards-parent">
              
 <%= image_tag "public/bar.png", class:"rotating-cards-icon" %>
              <div class="manhattan-card-wrapper">
                <div class="manhattan-card">
                  <div class="manhattan-image">
                    <div class="shape-wrapper">
                      <div class="shape"></div>
                    </div>
                    <div class="contebt">
                      <div class="container">
                        <div class="content">
                          <h1 class="the-st-regis">
                            Swiss City of Baar
                          </h1>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="the-first-major justify">
                    A real estate deal in the Swiss city of Baar, featuring 18 flats at Grabenstrasse 3 and a restaurant named "Hello World," was tokenized for approximately $3.2 million USD. The total token value of 3 million CHF, roughly $3.2 million USD, equates to 20% of the property's total value. Four investors acquired all tokens in a club sale through four separate transactions on the Ethereum network. This transaction functioned as a Security Token Offering, representing property ownership under Swiss law, despite not being linked to a company.
                  </p>
                 
                </div>
              </div>
            </div>
          </div>
          <div class="card-wrapper1">
            <div class="rotating-cards-parent">
              
 <%= image_tag "public/anna.png", class:"rotating-cards-icon" %>
              <div class="manhattan-card-wrapper">
                <div class="manhattan-card">
                  <div class="manhattan-image">
                    <div class="shape-wrapper">
                      <div class="shape"></div>
                    </div>
                    <div class="contebt">
                      <div class="container">
                        <div class="content">
                          <h1 class="the-st-regis">
The AnnA Villa in Paris
                          </h1>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="the-first-major justify">
                    The AnnA Villa in Paris made history as the first European property sold entirely through blockchain. Valued at €6.5 million, the luxury building in Boulogne-Billancourt was purchased by French real estate firms, Sapeb Immobilier and Valorcim.
                  </p>
                  <p class="investors-can-choose">
                The process involved transferring ownership to a joint-stock company (SAPEB AnnA) and dividing it into 100 tokens, each subdivided into 100,000 units and traded for €6.50 each. This Ethereum-powered tokenized sale is part of global efforts to integrate real estate transactions with blockchain technology.

                  </p>
                </div>
              </div>
            </div>
          </div>
         jjj
        </div>
      </section>