      <section class="stories">
        <div class="stories-content">
          <div class="stories-title">
            <h1 class="tokenization-success-stories">
              Tokenization Success Stories
            </h1>
          </div>
          <p class="lrem-ipsum-der-container2">
            <span class="lrem-ipsum-der2"
              >Lörem ipsum der rederade arat: biskap. Provist makrovabel. Sena
              sanede heterocentrism än mervärdesmat. Hutöling teraligt: fåliga.
              Bil vapp porade skajpa vafåmav. Mibelt
            </span>
          </p>
        </div>
      </section>
      <section class="success-cards">
        <div class="cards-container">
          <div class="card-wrapper1">
            <div class="rotating-cards-parent">
              
 <%= image_tag "public/rotating-cards@2x.png", class:"rotating-cards-icon" %>
              <div class="manhattan-card-wrapper">
                <div class="manhattan-card">
                  <div class="manhattan-image">
                    <div class="shape-wrapper">
                      <div class="shape"></div>
                    </div>
                    <div class="contebt">
                      <div class="container">
                        <div class="content">
                          <h1 class="the-st-regis">
                            The St. Regis Resort in Aspen, Colorado
                          </h1>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="the-first-major">
                    The first major asset in Manhattan to be tokenized on
                    Ethereum, appraised at over $30M. With condominium prices
                    soaring and a lengthy purchase process, cryptocurrencies
                    offer a streamlined alternative.
                  </p>
                  <p class="investors-can-choose">
                    Investors can choose between analog or digital interests in
                    the securities, ensuring flexibility for buyers. Profits
                    from token trading and regular rental income from high
                    demand in NYC bolster investor returns.
                  </p>
                </div>
              </div>
            </div>
          </div>
         jjj
        </div>
      </section>